
h1,h2,h3,h4{
    font-family: 'Newsreader', serif;
}


.nav-link{
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 18px;
    text-decoration: none;
}
#home h1{
    font-size: 60px;
}
#home button{
    width: 200px;
    border: none;
    background: #ff5200;
    padding: 10px 0;
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    transition: .5s;
}
#home button:hover{
    background: #922f01;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}

/* future */
#future .scal:hover{
    transform: scale(1.5);
}



/* /featured-products */
#featured-products .col-4{
    transition: .5s;
}
#featured-products .col-4:hover {
    transform: translateY(-5px);
}

#featured-products .titloe{
    position: relative;
}
#featured-products .titloe::after{
    position: absolute;
    content: '';
    width: 20%;
    height: 5px;
    background: #ff5200;
    bottom: -8px;
    left: 40%;
}

/* latest-products */
#latest-products h2{
    position: relative;
}
#latest-products h2::after{
    position: absolute;
    content: '';
    min-width: 20% !important;
    height: 5px;
    background: #ff5200;
    bottom: -8px;
    left: 40%;
}
#latest-products .col-4{
    transition: .5s;
}
#latest-products .col-4:hover{
    transform: translateY(-5px);
}
/* Offer */
#offer{
    background: radial-gradient(#fff,#ff5200);
}
#offer .ofimg,.oftext{
    transition: .5s;
}

#offer:hover .ofimg{
    transform: translateX(-20px);
}
#offer:hover .oftext{
    transform: translateX(20px);
}

/* Testimonial */

#testimonial .col-md-4{
    box-shadow: 0 0 0 #000;
}
#testimonial .col-sm-3{
    transition: .5s;
}
#testimonial .col-sm-3:hover{
    transform: translateY(-5px);
}

/* footer */

footer p{
    font-size: 13px;
    color: rgb(179, 176, 176);
}
footer ul li{
    list-style: none;
    margin: 5px 0;
}
footer ul li a{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    color: #fff;
    font-size: 13px;
    color: rgb(179, 176, 176);
}

/* All-products */
#All-products .col-4{
    transition: .5s;
}
#All-products .col-4:hover{
    transform: translateY(-5px) !important;
}
#All-products select{
    border: 1px solid #ff5200;
    outline: none;
}
#All-products .page-link:hover{
    background: #ff5200;
    color: #fff;
}

/* product-detials */

#product-detials h2{
    font-size: 50px;
    font-family: arial black;
}
#product-detials input{
    width: 50px;
    margin-top: 10px;
    border: 1px solid #ff5200;
    padding: 5px;
}
#product-detials select{
    border: 1px solid #ff5200;
}
#product-detials a{
    border: 1px solid #ff5200;
    padding: 5px 15px;
    background: #ff5200;
    border-radius: 25px;
    color: #fff;
}
.all-img{
    display: flex;
    justify-content: space-between;
}
.img-item{
    width: 25%;
    cursor: pointer;
}
.smallImg{
    cursor: pointer;
}

/* account-page */
#account-page{
    background: radial-gradient(#fff,#ffd6d6); 
}
#account-page input[type="submit"]{
    background: #ff5200;
    border-radius: 25px;
    color: #fff;
}
#account-page input{
    width: 445px;
}
#account-page h2{
    cursor: pointer;
}
#box{
    position: relative;
}
#register{
    position: absolute;
    top: 302px;
   transform: translateX(-99999px);
}
#login{
    position: absolute;
    top: 350px;
    transform: translateX(18px);
}
#indicator{
    width: 100px;
    height: 3px;
    background: #ff5200;
    border: none;
    margin-top: 10px;
    transform: translateX(55px);
    transition: .5s;
}
.visible{
    overflow: hidden !important;
}

/* cart */
#cart input{
    width: 50px;
}
.total-price{
    border-top: 2px solid #ff5200;
}






/* Media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
    #cart p{
        font-size: 16px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #product-detials h2{
        font-size: 30px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
    .navbar-nav{
        background: #000 !important;
    }
    .nav-link{
        color: #fff !important;
    }

   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
    #product-detials h2{
        font-size: 35px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    
}